@font-face {
    font-family: 'League Spartan';
    src: url('https://atlo.es/barbellclub/webfonts/leaguespartan-bold.eot');
    src: url('https://atlo.es/barbellclub/webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('https://atlo.es/barbellclub/webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('https://atlo.es/barbellclub/webfonts/leaguespartan-bold.woff') format('woff'),
         url('https://atlo.es/barbellclub/webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('https://atlo.es/barbellclub/webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}